<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (C) 2010-2016, Petri Virkkula.

	This library is free software; you can redistribute
	it and/or modify it under the terms of Artistic License
	version 2.0. For more details, see the full text
	of the license in the file LICENSE.

	Disclaimer of Warranty:
	THE PACKAGE IS PROVIDED BY THE COPYRIGHT HOLDER AND
	CONTRIBUTORS "AS IS' AND WITHOUT ANY EXPRESS OR IMPLIED
	WARRANTIES. THE IMPLIED WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT
	ARE DISCLAIMED TO THE EXTENT PERMITTED BY YOUR LOCAL LAW.
	UNLESS REQUIRED BY LAW, NO COPYRIGHT HOLDER OR CONTRIBUTOR
	WILL BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, OR
	CONSEQUENTIAL DAMAGES ARISING IN ANY WAY OUT OF THE USE
	OF THE PACKAGE, EVEN IF ADVISED OF THE POSSIBILITY OF
	SUCH DAMAGE.

 $Id$
-->

<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%%5p [%t] (%F:%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root>
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
